div {
    height: 200px;
    width: 200px;
    border: solid 2px black;
    background-color: aqua;
    display: inline-block;
    margin: 20px
}

#Static {
    background-color: red;
    position: static;
    /* By default, elements are positioned statically */
    top: 2000px;
    left: 200px;
}
#Relative{
    background-color: yellow;
    position:relative;
    top: 30px;
    left: 30px;
}
#Absolute{
    background-color:green;
    position:Absolute;
    top: 100px;
    left: 100px;
    color: white;
    text-align: center;
    align-content: center;
}
#Fixed{
    background-color: purple;
    position: fixed;
    top: 200px;
    left: 200px;
}