.card{
    height: 400px;
    width: 300px;;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px lightblue; ;
     display: inline-block;
}
img{
    width: 100%;
    height: 70%;
    border-radius: 10px 10px 0 0;
;
}
.des{
    padding: 10px;
}
.card:hover{
    box-shadow: 4px 4px 10px red;
    transition: 0.7s;
}
