* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

.mainbox {
    background: url(photo.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.btn-one i{
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    line-height: 50px;
    left: 20px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    transition: all 0.3s linear;
}

.sidebar .logo {
    position: absolute;
    width: 100%;
    line-height: 50px;
    height: 50px;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.4);
}

.sidebar .logo a {
    color: white;
    position: absolute;
    left: 50px;
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
    
}
.sidebar .btn-two i{
    color:gray;
    position: absolute;
    left: 270px;
    font-size: 18px;
    line-height: 50px;
    opacity: 1;
    cursor: pointer;
}
.menu{
    position: absolute;
    top: 70px;
    width: 100%;
}
.menu li{
    margin-top: 5px;
    padding: 10px 20px;
}
.sidebar .menu i,a{
    color: white;
    text-decoration: none;
}
.sidebar .menu i{
    padding-right: 9px;
}
.sidebar .social-media{
    position: absolute;
    left: 25%;
    bottom: 30px;
}
.sidebar .social-media i{
    padding-right: 5px;
    color: white;
    opacity: 0.5;
}
#check{
    display: none;
}
.sidebar .menu li:hover{
     box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}
.sidebar .social-media i:hover{
    opacity: 1;
    transform: scale(1.3);
}
.btn-two i:hover{
    font-size: 24px;
    transition: 0.3s linear;
}
.btn-one i:hover{
    font-size: 27px;
    transition: 0.3s linear;
}
#check:checked ~.sidebar{
    left: 0;
}
#check:checked ~.btn-one i{
    opacity: 0;
    
}