.box{
    height: 80px;
    width: 300px;
    background-color: pink;

    animation-name: widthanimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: normal;

    /* animation: widthanimation 2s ease-in 0s 3 normal;  */
    animation: coloranimation 3s ease-in 0s 2 normal ;
}
@keyframes fontanimation{
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}
/* @keyframes widthanimation{
    from{
        
    }
    to{
       
    }
} */
@keyframes coloranimation{
    0%{
        background-color: red;
        width: 20px;
    }
    50%{
        background-color: aqua;
    }
    100%{
        background-color: rgb(39, 5, 133);
         width: 200px;
    }
}