.homepage {

    height: 600px;
    width: 800px;
    /* border: 2px solid black; */
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    margin: 0 auto;
    /* grid-gap:5px 5px; */

    text-align: center;


}

.header {
    grid-row: 1/2;
    /* grid-row: 1/ span 1; */
    /* grid-column: 1/13; */
    grid-column: 1/ span 12;

    border: 2px solid blue;
    background-color: pink;

}

.sidebar {
    grid-column: 1/3;
    grid-row: 2/11;
    border: 2px solid blue;
    background-color: pink;
}

.navigation {
    grid-column: 3/11;
    grid-row: 2/4;
    border: 2px solid blue;
    background-color: pink;
}

.main {
    grid-column: 3/11;
    grid-row: 4/11;
    border: 2px solid blue;
    background-color: pink;
}

.ads {
    grid-column: 11/13;
    grid-row: 2/11;
    border: 2px solid blue;
    background-color: pink;
    text-align: center;
}

.footer {
    grid-row: 11/13;
    grid-column: 1/13;
    border: 2px solid blue;
    background-color: pink;
}

@media (max-width:720px) {
    .header {
        grid-row: 1/2;
        grid-column: 1/13;
    }

    .navigation {
        grid-row: 2/3;
        grid-column: 2/13;
    }

    .sidebar {
        grid-column: 1/2;
        grid-row: 2/12;
    }

    .main {
        grid-column: 2/13;
        grid-row: 3/12;
    }

    .ads {
        grid-column: 1/2;
        grid-row: 12/13;
    }

    .footer {
        grid-row: 12/13;
        grid-column: 2/13;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}