#outer{
    height: 400px;
    width: 400px;
    border: 2px solid rgb(15, 160, 228);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
}
.navbar{
    height: 50px;
    width:900px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:pink;
    display: flex;
}
.element{
    height: 50px;
    width: 80px;
    font-size: 24px;
    align-content: center;
}