h1 {
    text-align: center;
}

#container {
    height: 300px;
    width: 80%;
    border: 2px solid black;
    margin: 10px auto;
    background-color: rgb(199, 234, 246);
    display: flex;

    /* flex-direction: row; 
    flex-direction: row-reverse; */

    /* flex-direction: column;
   flex-direction: column-reverse; */

    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center; */

    /* justify-content: space-between;
   justify-content: space-around;
   justify-content: space-evenly;  */

    /* flex-wrap: wrap;
    justify-content: space-evenly; */

    /* align-items: start;
    align-items: end;
    align-items: center; 
    align-items: baseline;*/


    /* justify-content: center;
    align-content: flex-start;
    align-content: flex-end;
    align-content: center; */
    flex-wrap: wrap;


}

div {
    width: 300px;
    height: 100px;
    color: white;
    text-align: center;
}
#Yellow{
    /* flex-basis: 100px; */
    flex-grow: 4;
    min-width: 300px;
    min-width: 100px;
    
    flex: 2 2 100px;
}
#Green{
    flex-shrink: 2;
   
}